@model IEnumerable<Library.Models.Book>
@using Microsoft.AspNetCore.Identity
@using Library.Areas.Identity.Data

@inject SignInManager<LibraryUser> SignInManager
@inject UserManager<LibraryUser> UserManager

@{
    ViewData["Title"] = "IndexLeasedBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leased Books</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leased)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (UserManager.GetUserName(User) != "librarian")
                    {
                        <a asp-action="Reserve" asp-route-id="@item.Id">Reserve</a>
                    }
                    @if (UserManager.GetUserName(User) == "librarian")
                    {
                         <a asp-action="MakeAvailable" asp-route-id="@item.Id">Make Available</a>
                    }
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
